body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/images/admin.png");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    width: 350px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}

.add {
    background: #28a745;
}

.dash {
    background: #007bff;
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.logout {
    display: block;
    margin-top: 25px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}