<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Join Quiz</title>
<link rel="stylesheet" href="{{ url_for('static', filename='join.css') }}">
</head>
<body>

<div class="join-container">
    <h1>JOIN QUIZ</h1>

    <form method="POST">
        <input type="text" name="name" placeholder="Enter Your Name" required>
        {% if error_name %}
            <div class="error-field">{{error_name}}</div>
        {% endif %}

        <!-- Hidden input: final value goes here -->
        <input type="hidden" name="category_age" id="categoryAgeInput"> 

        <!-- Custom dropdown -->
        <div class="custom-dropdown">
            <div class="dropdown-selected">Select Category</div>

            <div class="dropdown-menu">
                {% for c in categories %}
                <div class="dropdown-item">
                    {{ c.name }}

                    <div class="submenu">
                        <div onclick="selectValue('{{ c.name }}|Under 10')">Under 10</div>
                        <div onclick="selectValue('{{ c.name }}|10-15')">10 - 15</div>
                        <div onclick="selectValue('{{ c.name }}|16-24')">16 - 24</div>
                        <div onclick="selectValue('{{ c.name }}|25+')">25+</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if error_category %}
            <p id ="categoryError" style="color: red;">
                {{error_category}}
            </p>
        {% endif %} 

        <button type="submit" onclick="return validateForm()">Start Quiz</button>
    </form>
</div>

<script>
const selectedText = document.querySelector(".dropdown-selected");
const menu = document.querySelector(".dropdown-menu");
const hiddenInput = document.getElementById("categoryAgeInput");

selectedText.onclick = () => {
    menu.classList.toggle("show");
};

function selectValue(value){
    selectedText.innerText = value;
    hiddenInput.value = value;
    menu.classList.remove("show");

    const errorMsg=document.getElementById("categoryError");
    if(errorMsg){
        errorMsg.style.display="none";
    }  
}

</script>
</body>
</html>