body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    color:#fff;
    font-family:Segoe UI;
}

.join-container{
    background:rgba(0,0,0,0.7);
    padding:40px;
    border-radius:20px;
    width:350px;
    text-align:center;
}

input, button{
    width:100%;
    padding:14px;
    margin-bottom:20px;
    border-radius:10px;
    border:none;
}

button{
    background:#ff416c;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}

/* Dropdown */
.custom-dropdown{
    position:relative;
    margin-bottom:20px;
}

.dropdown-selected{
    background:#fff;
    color:#000;
    padding:14px;
    border-radius:10px;
    cursor:pointer;
}

.dropdown-menu{
    display:none;
    position:absolute;
    top:110%;
    left:0;
    width:100%;
    background:#222;
    border-radius:10px;
    z-index:10;
}

.dropdown-menu.show{
    display:block;
}

.dropdown-item{
    padding:12px;
    position:relative;
    cursor:pointer;
}

.dropdown-item:hover{
    background:#333;
}

/* Submenu */
.submenu{
    display:none;
    position:absolute;
    top:0;
    left:100%;
    background:#333;
    min-width:140px;
    border-radius:10px;
}

.dropdown-item:hover .submenu{
    display:block;
}

.submenu div{
    padding:10px;
}

.submenu div:hover{
    background:#444;
}
/* FORCE SAME SIZE FOR INPUT & SELECT */
.join-container input,
.join-container select {
    width: 100%;
    height: 52px;          /* 🔥 KEY */
    padding: 0 15px;       /* 🔥 KEY */
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    box-sizing: border-box; /* 🔥 MOST IMPORTANT */
}
.error-field{
    color: #ff4c4c;
    font-size: 0.9rem;
    margin-bottom: 5px 0 15px 0;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px);}
    to { opacity: 1; transform: translateY(0);}
}

@keyframes bgGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

