body{
    background-image: url("/static/images/quiz.jpg");
    background-size: cover;
    background-position: center;
    color:#fff;
    font-family:Segoe UI;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.quiz-container{
    width:500px;
    background:#1e1e1e;
    padding:25px;
    border-radius:15px;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

#timer{
    background:#ff416c;
    padding:5px 12px;
    border-radius:20px;
    font-weight:bold;
}

.options{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin:20px 0;
}

.options button{
    padding:15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:1rem;
}

.options button.selected{
    background:#666;
}

.options button.correct{
    background:green;
    color:white;
}

.options button.wrong{
    background:red;
    color:white;
}

#nextBtn{
    width:100%;
    padding:12px;
    font-size:1.1rem;
    border:none;
    border-radius:10px;
    background:#ff416c;
    color:white;
    cursor:pointer;
}

.finish{
    text-align:center;
}

