body{
    background-image: url("/static/images/quiz.jpg");
    background-size: cover;
    background-position: center;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Segoe UI;
}

.quiz-container{
    background:#222;
    padding:30px;
    border-radius:15px;
    width:350px;
    text-align:center;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.options{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.option{
    padding:15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#444;
    color:#fff;
    font-size:16px;
}

.correct{
    background:#2ecc71 !important;
}

.wrong{
    background:#e74c3c !important;
}